@{
    ViewData["Title"] = "About";
    ViewData["email"] = "Matheusprado55@gmail.com";
    ViewData["name"] = "Matheus Prado";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Estudante e Programador: @ViewData["name"]</p>
<p> @ViewData["email"] </p>
<address>
    <strong> More information: </strong> <a href="https://github.com/MathsPrado"> GitHub</a>
</address>